{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}

<p style = "font-size:50px; text-align:center;"><a href="#" class="text-warning">DIPLOMA BOOK</a></p>
<!-- this  portion give me a list of books -->
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-body"><img src="static/images/diploma/physics.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Electronic by K.Shasidar</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-body"><img src="static/images/diploma/math.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Math by Jain Brother </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-body"><img src="static/images/diploma/electronic.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Telecommunication by Neetu Sinha </div>
        </div>
    </div>
  </div>
</div>

<p style = "font-size:50px; text-align:center;"><a class="text-secondary">JEE BOOK</a></p>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-body"><img src="static/images/jee/iitc.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Chemistry</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-body"><img src="static/images/jee/iitm.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Math</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-body"><img src="static/images/jee/iitp.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Physics </div>
        </div>
    </div>
  </div>
</div>

<!-- give me a image of books -->

<p style = "font-size:50px; text-align:center;"><a class="text-success">NEET Books </a></p>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-body"><img src="static/images/neet/neetb.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Biology</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-body"><img src="static/images/neet/neetc.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Chemistry</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-body"><img src="static/images/neet/neetp.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Physics</div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
