{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Sunday market</div>
        <div class="panel-body"><img src="static/sunday1.jpg" class="img-responsive"  alt="sunday_market"></div>
        <div class="panel-footer">best notebooks in cheapest price</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">Connaught Place</div>
        <div class="panel-body"><img src="static/sunday 3.jpg" class="img-responsive" alt="Image"></div>
        <div class="panel-footer">Best nobels in cheapest price</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Nayi Sadak</div>
        <div class="panel-body"><img src="static/sunday2.jpg" class="img-responsive"  alt="Image"></div>
        <div class="panel-footer">cheapest book ever</div>
      </div>
    </div>
  </div>
</div>
<center>
     <div class="p-3 mb-2 bg-info text-white">
        <h2>BEST OLD MARKET AND SHOP IN ALL DELHI</h2>
     </div>
</center>
<br>
<footer class="container-fluid text-center" id='contact'>
  <p>Online Store Copyright</p>
  <form class="form-inline">Suggestion or any Query:
    <input type="text" class="form-control" size="50" placeholder="Query">
    <button type="button" class="btn btn-danger">Submit</button>
  </form>
</footer>

{% endblock %}